@page "/aboutUs";
@rendermode InteractiveServer

<PageTitle>Über Uns</PageTitle>
<h1>Über uns</h1>
<div>
    <h5><pre>
    Wir sind Jung, Brutal, Überfordert – das vermutlich kompetenteste Chaos-Team seit Erfindung der schlecht sortierten Schraubenkiste.
    Unser Projekt Pimp Your Blech versucht, die ewige Frage zu lösen:
    „Warum kann ich meinen fahrbaren Untersatz nicht einfach selbst konfigurieren, ohne drei Fachbereiche, zwei Werkstätten und einen Cousin anzurufen?“

    Also haben wir’s selbst gebaut:
    •	einen Fahrzeugkonfigurator den sogar wir verstehen
    •	einen Ersatzteileshop, der keine 90er-Jahre-Website ist
    •	und eine Datenbank, die manchmal macht, was wir wollen

    Wir sind nicht perfekt – aber immerhin konsequent unperfekt.
    Wir experimentieren, diskutieren, programmieren uns in Sackgassen und feiern jeden Bug-Fix wie andere ihren Geburtstag.

    Kurz gesagt:

    Wir sind die, die sich überfordern, damit du’s später nicht musst.</pre></h5></div>
@code {
    
}