@page "/configurations"
@using PimpYourBlech_ClassLibrary.Entities
@using TestAutoKonfigurator.Session
@inject IUserSession UserSession
<h3>Deine Konfigurationen:</h3>

@*
Seite sollte bisher noch ne exception schmeißen weil wir keine Konfigurationen gespeichert haben
Würde ich aber eh eher mit ner Tabelle oder so machen wie in den Admin - Menüs bisher
weil das hier ist noch 0 schön wenns läuft
*@
<ul>
    @foreach (var c in configurations)
    {
        <li>@c.ToString()</li>
    }
</ul>
@code {
    private List<Configuration> configurations = new();

    protected override void OnInitialized()
    {
        configurations = UserSession.CurrentUser.Configurations;
    }

}