@page "/configurator"
<h3>Konfigurator</h3>
@*
- Auto wählen
- Konfiguration eigenen Namen geben
- Möglichkeiten anzeigen das Auto zu Konfigurieren
- Preis berechnen
- zurücksetzen
- undo?
- Konfiguration speichern
- Konfiguration löschen
- evtl. Direkt mit anderen vergleich
- Konfiguration umbenennen
*@
@code {
    
}