@page "/mainMenu"
@using PimpYourBlech_BlazorApp.Components.Icons
@using PimpYourBlech_ClassLibrary.Session
@inject NavigationManager Nav
@inject IUserSession UserSession
<PageTitle>Main Menu</PageTitle>

<div class="menu-container">
    <h2 class="headline-admin">Willkommen, @UserSession.CurrentUser.Username!</h2>

    @if (UserSession.CurrentUser.ImagePath != null)
    {
        <img src=@UserSession.CurrentUser.ImagePath class="user-image" @onclick="GoToUserSettings">
    }
    else
    {
        <img src="benutzer.png" class="user-image" @onclick="GoToUserSettings">

    }
    <div class="button-column">
        <div class="button-row-menu">
            <button class="btn-icon" @onclick="GoToConfigurator">
                <CarIcon />
            </button>

            <button class="btn-label" @onclick="GoToConfigurator">
                Konfiguration starten
            </button>
        </div>
        <div class="button-row-menu">
            <button class="btn-icon" @onclick="GoToComparator">
                <TwoCarsIcon></TwoCarsIcon>
            </button>

            <button class="btn-label" @onclick="GoToComparator">
                Fahrzeuge vergleichen
            </button>
        </div>
        <div class="button-row-menu">
            <button class="btn-icon" @onclick="GoToConfigurations">
                <CarIcon2 />
            </button>

            <button class="btn-label" @onclick="GoToConfigurations">
                Konfigurationen laden
            </button>
        </div>
        <div class="button-row-menu">
            <button class="btn-icon" @onclick="GoToShop">
                <ShoppingCartIcon />
            </button>

            <button class="btn-label" @onclick="GoToShop">
                Ersatzteile Shop
            </button>
        </div>

        <div class="button-row-menu">
            <button class="btn-icon" @onclick="GoToAdmin">
                <AdminIcon />
            </button>

            <button class="btn-label" @onclick="GoToAdmin">
                Administrator
            </button>
        </div>
        
        <div class="button-row-menu">
            <button class="btn-icon" @onclick="GoToFAQ">
                <QAndAIcon></QAndAIcon>
            </button>
            <button class="btn-label" @onclick="GoToFAQ">
                Q&A
            </button>
            </div>
        
        <div class="button-row-menu">
            <button class="btn-icon" @onclick="GoAboutUs">
                <AboutUsIcon></AboutUsIcon>
            </button>
            
            <button class="btn-label" @onclick="GoAboutUs">
                Über uns
            </button>
        </div>
    </div>
</div>

