@page "/mainMenu"
@using PimpYourBlech_BlazorApp.Components.Icons
@using PimpYourBlech_ClassLibrary.Session
@inject NavigationManager Nav
@inject IUserSession UserSession
<PageTitle>Main Menu</PageTitle>

<div class="menu-container">
    <h2 class="headline">Willkommen, @UserSession.CurrentUser.Username!</h2>

    <img src="benutzer.png" class="user-image">

    <div class="button-column">
        <button class="buttons" @onclick="GoToConfigurator">Konfiguration starten<CarIcon></CarIcon></button>
        <button class="buttons" @onclick="GoToConfigurations">Konfigurationen laden<CarIcon2></CarIcon2></button>
        <button class="buttons" @onclick="GoToShop">Ersatzteile Shop<ShopIcon></ShopIcon></button>
        <button class="buttons" @onclick="GoToAdmin">Administrator<AdminIcon></AdminIcon></button>
        <div class="button-container">
            <button class="buttons" @onclick="GoToFAQ">FAQ</button>
            <button class="buttons" @onclick="GoAboutUs">About Us</button>
        </div>
        <button class="buttons logout" @onclick="Logout">Abmelden</button>
        
    </div>
</div>


@code
{
    private void GoToConfigurator() => Nav.NavigateTo("/configurator/chooseCar");

    private void GoToConfigurations() => Nav.NavigateTo("/configurations");

    private void GoToShop() => Nav.NavigateTo("/shop");
    
    private void GoToFAQ() => Nav.NavigateTo("/FAQ");
    
    private void GoAboutUs() => Nav.NavigateTo("/aboutUs");

    private void Logout()
    {
        UserSession.LogOut();
        Nav.NavigateTo("/");
    }

    private void GoToAdmin() => Nav.NavigateTo("/administrator");
}

<style>

    .headline {
        font-family: Bahnschrift;
        color: white;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
        margin-bottom: 10px;
    }

    .user-image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 2px solid rgba(255, 0, 0, 0.5);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

   

    .logout {
        background-color: #500000;
        border-color: #ff4444;
    }

    .logout:hover {
        background-color: #770000;
    }
    

</style>