@page "/startMenu"
@rendermode InteractiveServer
@inject NavigationManager Nav

<h3>Pimp Your Blech</h3>

@*Buttons für Anmelden, Registrieren und um zum Start - Screen zurückzukehren*@
<div class="d-flex gap-2">
    <button class="btn btn-primary" @onclick="GoToLogin">Anmelden</button>
    <button class="btn btn-primary" @onclick="GoToRegister">Registrieren</button>
    <button class="btn btn-primary" @onclick="Exit">Beenden</button>
</div>

@code {

    // Führt zur Login - Maske
    public void GoToLogin()
    {
        Nav.NavigateTo("/login");
    }
    
    // Führt zur Registrieren - Maske
    public void GoToRegister()
    {
        Nav.NavigateTo("/register");
    }
    
    // Führt zum Start - Screen
    public void Exit()
    {
        Nav.NavigateTo("/");
    }
}