@page "/"
@inject NavigationManager Nav


<PageTitle>Pimp Your Blech</PageTitle>

<h1>Pimp Your Blech</h1>

Willkommen bei Pimp Your Blech, deinem persönlichen Fahrzeugkonfigurator.

@*Start - Knopf*@
<div class="menu-container">
<div class="button-column">
    <button class="buttons" @onclick="StartProgramm">Start</button>
    
</div>
</div>

@code
{
    // Führt zum Startmenü
    public void StartProgramm()
    {
        Nav.NavigateTo("/startMenu");
    }
}
