@page "/startMenu"
@inject NavigationManager Nav
<PageTitle>Pimp Your Blech</PageTitle>
<h3>Pimp Your Blech</h3>


<div class="menu-container">
    
@*Buttons für Anmelden, Registrieren und um zum Start - Screen zurückzukehren*@
<div class="button-column">
    <button class="buttons" @onclick="GoToLogin">Anmelden</button>
    <button class="buttons" @onclick="GoToRegister">Registrieren</button>
    <button class="buttons exit" @onclick="Exit">Beenden</button>
  
</div>
</div>



@code {

    // Führt zur Login - Maske
    public void GoToLogin()
    {
        Nav.NavigateTo("/login");
    }
    
    // Führt zur Registrieren - Maske
    public void GoToRegister()
    {
        Nav.NavigateTo("/register");
    }
    
    // Führt zum Start - Screen
    public void Exit()
    {
        Nav.NavigateTo("/");
    }
}
