@page "/administrator"
<PageTitle>Administrator</PageTitle>
@inject NavigationManager Nav
<h3>Administrator</h3>


<div class="menu-container">

    <div class="button-column">
        <button class="buttons" @onclick="GoToAdminCustomers">Kunden verwalten</button>
        <button class="buttons" @onclick="GoToAdminProducts">Produkte verwalten</button>
        <button class="buttons" @onclick="GoToAdminCars">Fahrzeuge verwalten</button>
        <button class="buttons" @onclick="GoToAdminOrders">Bestellungen verwalten</button>
    </div>
</div>

@code
{
    // Führt zum Menü um Kunden zu verwalten
    private void GoToAdminCustomers()
    {
        Nav.NavigateTo("/administrator/customers");
    }

    // Führt zum Menü um Produkte zu verwalten
    private void GoToAdminProducts()
    {
        Nav.NavigateTo("/administrator/products");
    }
    
    // Führt zum Menü um Fahrzeuge zu verwalten
    private void GoToAdminCars()
    {
        Nav.NavigateTo("/administrator/cars");
    }
    
    // Führt zum Menü um Bestellungen zu verwalten
    private void GoToAdminOrders()
    {
        Nav.NavigateTo("/administrator/orders");
    }
}