@page "/compare"

<div class="menu-container">

    <h2 class="menu-title">Vergleich</h2>
    
<div class="button-column">
    <div class="button-row-menu">
        <button class="buttons btn-label" @onclick="GoToCarCompare">
            Fahrzeugvergleich
        </button>
    </div>
    <div class="button-row-menu">
        <button class="buttons btn-label" @onclick="GoToConfigurationCompare">
            Konfigurationsvergleich
        </button>
    </div>
</div>

</div>
