@page "/administrator/customers/{id:int}"
<PageTitle>Administrator/customers/@Id.ToString()</PageTitle>
@using PimpYourBlech_ClassLibrary.Entities
@using PimpYourBlech_ClassLibrary.Services.Admin
@inject IAdminService AdminService
@inject NavigationManager Nav


<div class="menu-container">

<h3>Kundenübersicht</h3>
@if (Customer == null)
{
    <p>Lade Daten…</p>
}
else
{
    <div class="detail-overview-admin"> 
    <div class="combo-card-admin">
        <p><strong>Vorname:</strong> @Customer.FirstName</p>
        <p><strong>Nachname:</strong> @Customer.LastName</p>
        <p><strong>Username:</strong> @Customer.Username</p>
        <p><strong>E-Mail:</strong> @Customer.MailAddress</p>
    </div>
        <div class="button-column">
            <button class="buttons" @onclick="LockCustomer">Sperren</button>
            <button class="buttons" @onclick="DeleteCustomer">Löschen</button>
            <button class="buttons" @onclick="EditCustomer">Bearbeiten</button>
            <button class="buttons" @onclick="Cancel">Zurück</button>
        </div>
    </div>
}
</div>
@code {
    [Parameter] public int Id { get; set; }

    public Customer? Customer { get; set; }

    protected override void OnInitialized()
    {
        Customer = AdminService.GetCustomerById(Id);
    }

    private void LockCustomer()
    {
        // AdminService.LockCustomer(Customer)
    }

    private void DeleteCustomer()
    {
        AdminService.DeleteCustomer(Customer);
        Nav.NavigateTo("/administrator/customers");
    }

    private void EditCustomer()
    {
        Nav.NavigateTo($"/administrator/customers/{Customer.Id}/edit");
        
    } 
    
    private void Cancel()
    {
        Nav.NavigateTo("/administrator/customers");
    }
}