@page "/administrator/images"
<PageTitle>Bilder verwalten</PageTitle>
@inject NavigationManager Nav

<div class="menu-container">
    <div class="button-column">
        <h3>Bilder verwalten</h3>
        <button class="buttons" @onclick="GoToEditCarImages">360° Bilder verwalten</button>
        <button class="buttons" @onclick="GoToEditProductImages">Produktbilder verwalten</button>
    </div>
</div>


@code {

    private void GoToEditCarImages()
    {
        Nav.NavigateTo("administrator/images/360");
    }

    private void GoToEditProductImages()
    {
        Nav.NavigateTo("administrator/images/products");
    }
}