@page "/CheckoutPage"
@using PimpYourBlech_BlazorApp.Components.Icons
@using PimpYourBlech_BlazorApp.Services
@using PimpYourBlech_ClassLibrary.Entities
@using PimpYourBlech_ClassLibrary.Services.Carts
@using PimpYourBlech_ClassLibrary.Services.Shop
@using PimpYourBlech_ClassLibrary.ValueObjects
@using Blazored.Toast
@using Blazored.Toast.Configuration
@using Blazored.Toast.Services
@using PimpYourBlech_ClassLibrary.Session
@inject NavigationManager Nav
@inject IImageService ImageService
@inject IShopService ShopService
@inject ICartService CartService
@inject IToastService ToastService
@inject IUserSession UserSession
<h3>CheckoutPage</h3>

@code {
    
}